
    

.img-bannerM {
  
  display: block;
  height: 100%;
  width: 100%;


}

.img-banner {

  display: none;
  height: 100%;
  width: 100%;
}

.picture {

  display: block;
  height: 100%;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  margin-top: 100px;
  margin-bottom: 50px;


}

body {

  background-color: lightpink;
}

.bodytext {

  background-color: white;

  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  font-size: 45px;
  line-height: 65px;


}

.MainHeadline {

  text-align: center;
  margin-top: 40px;
  font-size: 100px;
  line-height: 110px;

}

video {

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 40px;
  margin-bottom: 40px;

  height: 90%;
  width: 90%;

  border: 3px solid black;

  background-color: rgb(231, 240, 60);



}

.pro {
  font-weight: bolder;
  color: blue;
}

.video1 {

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 40px;
  margin-bottom: 40px;

  height: 100%;
  width: 100%;

  border: 3px solid black;

  background-color: rgb(231, 240, 60);




}

  /* Footer Section */
  
  .footer2 {
    padding: 50px;
    text-align: center;
    font-size: 38px;
    color:white;
    background-color: black;
    
    }
    
    .footerindex {
      padding: 50px;
      text-align: center;
      font-size: 38px;
      color:black;
      background-color: orange;
      
      }

      .footerpicture {

        display: block;
        height: 30%;
        width: 30%;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;


      }
  


  
    
  /* DESKTOP VIEW BELOW */


    @media screen and (min-width:1000px) {


      .img-bannerM {
  
      display: none;    
    
      }

      .img-banner {
    
        display: block;
        height: 100%;
        width: 100%;
      }

      .picture {

        display: block;
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        margin-top: 50px;
        margin-bottom: 100px;
      
      }

      body {

        background-color: white;
      }

      .bodytext {
  
        background-color: lightpink;
        color: black;
      
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
      
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

        font-size: 25px;
        line-height: 40px;
      
      
      
      }

      .MainHeadline {

        text-align: center;
        margin-top: 40px;
        font-size: 40px;
        line-height: 50px;
      
      }
      
      video {

        display: block;
        margin-left: auto;
        margin-right: auto;

        margin-top: 40px;
        margin-bottom: 40px;

        height: 80%;
        width: 80%;

        border: 3px solid black;

        background-color: rgb(231, 240, 60);
      



      }

      .video1 {

        display: block;
        margin-left: auto;
        margin-right: auto;

        margin-top: 40px;
        margin-bottom: 40px;

        height: 20%;
        width: 20%;

        border: 3px solid black;

        background-color: rgb(231, 240, 60);
      



      }

      .pro {
        font-weight: bolder;
        color: darkgreen;
      }
      
  /* Footer Section */
  
  .footer2 {
    padding: 50px;
    text-align: center;
    font-size: 38px;
    color:white;
    background-color: black;
    
    }
    
    .footerindex {
      padding: 50px;
      text-align: center;
      font-size: 38px;
      color:black;
      background-color: orange;
      
      }

      .footerpicture {

        display: block;
        height: 20%;
        width: 20%;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        

      }

  
    



    }

  
  
  












 




